<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwg.user.web.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.gwg.user.web.model.RoleResource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="res_code" jdbcType="VARCHAR" property="resCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, role_code, res_code
  </sql>
  <select id="selectByExample" parameterType="com.gwg.user.web.model.RoleResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_role_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gwg.user.web.model.RoleResourceExample">
    delete from tbl_role_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gwg.user.web.model.RoleResource">
    insert into tbl_role_resource (id, role_code, res_code
      )
    values (#{id,jdbcType=BIGINT}, #{roleCode,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gwg.user.web.model.RoleResource">
    insert into tbl_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="resCode != null">
        res_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        #{resCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gwg.user.web.model.RoleResourceExample" resultType="java.lang.Integer">
    select count(*) from tbl_role_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role_resource
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.resCode != null">
        res_code = #{record.resCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role_resource
    set id = #{record.id,jdbcType=BIGINT},
      role_code = #{record.roleCode,jdbcType=VARCHAR},
      res_code = #{record.resCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gwg.user.web.model.RoleResource">
    update tbl_role_resource
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        res_code = #{resCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gwg.user.web.model.RoleResource">
    update tbl_role_resource
    set role_code = #{roleCode,jdbcType=VARCHAR},
      res_code = #{resCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryResourceListByRoleId" parameterType="com.gwg.user.web.dto.RoleDto" resultType="com.gwg.user.web.model.Resource">
    SELECT
    t1.*
    FROM
    tbl_resource t1
    INNER JOIN tbl_role_resource t2 ON t1.res_code = t2.res_code
    INNER JOIN tbl_role t3 ON t3.role_code = t2.role_code
    <where>
      t1.valid_flag = '1'
      and t3.valid_flag = '1'
      <if test="id != null">
        AND t3.id= #{id,jdbcType=BIGINT}
      </if>
    </where>
    GROUP BY t1.id
    ORDER BY t1.sort ASC
  </select>
  <select id="queryAllowedRolesByUrl" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    t1.role_code
    FROM
    tbl_role t1
    INNER JOIN tbl_role_resource t2 ON t1.role_code = t2.role_code
    INNER JOIN tbl_resource t3 ON t2.res_code = t3.res_code
    WHERE
    t1.valid_flag = 1
    AND t3.valid_flag = 1
    and t3.res_url = #{url,jdbcType=VARCHAR}
  </select>
</mapper>